################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/vendor/premake
/MapTool/MapTool.vcxproj.filters
/MapTool/MapTool.vcxproj.user
/ProjectGenerator.bat
/MapTool/imgui.ini
